@keyframes contentShow {
	from {
		opacity: 0;
		transform: scale(0.96);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes contentHide {
	from {
		opacity: 1;
		transform: scale(1);
	}

	to {
		opacity: 0;
		transform: scale(0.96);
	}
}

.content {
	@apply flex flex-col rounded-xl border border-pv-blue-200 bg-white p-2 min-w-52 shadow-xl z-10;
	transform-origin: var(--kb-menu-content-transform-origin);
	animation: contentHide 250ms ease-in forwards;
}

.content[data-expanded] {
	animation: contentShow 250ms ease-out;
}

.item {
	@apply p-2 min-h-7 flex flex-row items-center hover:bg-pv-blue-50 rounded-md cursor-pointer data-[disabled]:opacity-75 data-[disabled]:cursor-not-allowed;
}

.arrow {
	@apply ml-3;
}
