@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Bricolage";
	src: url("/fonts/bricolage.ttf") format("truetype");
	font-display: swap;
}

:root {
	--app-font-size: medium;
	font-size: var(--app-font-size);
	font-family: "Bricolage", serif;
}
